<template>
	<v-toolbar dark dense class="fixed-bar" color="blue-grey darken-2">
		<template v-if="title">

			<v-btn icon @click="goBack()">
				<v-icon>mdi-arrow-left</v-icon>
			</v-btn>

			<v-toolbar-title>
				{{ title }}
			</v-toolbar-title>

			<v-spacer></v-spacer>

		</template>
		<template v-else>

			<v-btn icon @click="goHome()">
				<v-icon>mdi-trash-can</v-icon>
			</v-btn>

			<v-text-field
				outlined dense filled clearable
				hide-details single-line
				v-model="searchQuery"
				@input="onSearchInput()"
				label="Search"
				prepend-inner-icon="search"
			></v-text-field>

			<v-btn icon @click="onMenuClicked('/add')">
				<v-icon>mdi-plus</v-icon>
			</v-btn>
		</template>

		<v-btn :disabled="$vuetify.breakpoint.mobile && !$store.state.viewer.opened" icon @click="onSplitClicked()">
			<v-icon>mdi-view-split-vertical</v-icon>
		</v-btn>

		<v-menu left bottom offset-y>
			<template v-slot:activator="{ on, attrs }">
				<v-btn text v-bind="attrs" v-on="on" class="mr-n3">
					<v-icon>mdi-dots-vertical</v-icon>
				</v-btn>
			</template>
			<v-list>
				<v-list-item @click="onMenuClicked('/tags')">
					<v-list-item-title>Edit Tags</v-list-item-title>
				</v-list-item>
				<v-list-item @click="onMenuClicked('/add')">
					<v-list-item-title>Add Document</v-list-item-title>
				</v-list-item>
				<v-list-item @click="onMenuClicked('/settings')">
					<v-list-item-title>Settings</v-list-item-title>
				</v-list-item>
			</v-list>
		</v-menu>

		<v-progress-linear
			:active="loading"
			:indeterminate="loading" absolute bottom
			color="blue accent-4"
		></v-progress-linear>
	</v-toolbar>
</template>

<script>

import { bus } from '../main'

const searchCooldownInterval = 500;

export default {
	name: 'PageToolbar',

	components: { },

	props: {
		title: String
	},

	data: function() {
		return {
			searchCooldown: true,
			searchQuery: '',
			loading: false
		}
	},


	methods: {
		goBack: function() {
			// TODO: check location at -1 before redirecting
			if (window.history.length > 2)
				this.$router.go(-1);
			else
				this.$router.push({ path: '/' });
		},

		goHome: function() {
			if (this.$route.path == '/' && !Object.keys(this.$route.query).length)
				return;

			this.$router.push({ path: '/', query: {} });
		},

		onMenuClicked: function(path) {
			this.$router.push({ path: path });
		},

		onSplitClicked: function() {
			this.$store.commit('viewer/toggle')
		},

		onSearchInput: function() {
			if (!this.searchCooldown)
				return;

			this.searchCooldown = false;

			setTimeout(() => {
				bus.$emit('search', this.searchQuery);
				this.searchCooldown = true;
			}, searchCooldownInterval);
		},

		onLoading: function(state) {
			this.loading = state;
		},

	},

	created: async function() {
		try {
			if (this.$route.query.q)
				this.searchQuery = this.$route.query.q;

			bus.$on('loading', this.onLoading);
		} catch(err) {
			bus.$emit('error', err);
		}
	} ,
}

</script>
<style>
.fixed-bar {
	position: sticky !important;
	position: -webkit-sticky !important; /* for Safari */
	top: 0;
	z-index: 2;
}
</style>

