<template>
	<v-main>
		<PageToolbar title="Settings" />
		<v-container>
			<v-card>
				<v-card-title>
					Settings
				</v-card-title>

				<v-card-text>
					<v-row>
						<v-col>
							<v-text-field v-model="backendUrl" label="Backend URL"></v-text-field>
						</v-col>
					</v-row>

					<v-checkbox v-model="defaultPreviewOpen" label="Open preview panel by default" ></v-checkbox>

				</v-card-text>

				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn outlined @click="onSaveClicked()">Save</v-btn>
				</v-card-actions>
			</v-card>

		</v-container>
	</v-main>

</template>

<script>

import { bus } from '../main'

import {Backend} from '../api/Backend';
import PageToolbar from '../components/PageToolbar';

export default {
	name: 'SettingsPage',

	components: {
		PageToolbar,
	},

	methods: {

		goHome: function() {
			this.$router.push({ path: '/' });
		},

		onSaveClicked: function() {
			localStorage.setItem('backendUrl', this.backendUrl);
			localStorage.setItem('defaultPreviewOpen', this.defaultPreviewOpen);

			bus.$emit('info', 'Setting saved');
		},
	},

	created: function() {
		this.backendUrl = Backend.getBackendUrl();
		this.defaultPreviewOpen = localStorage.getItem('defaultPreviewOpen') === "true";
	},

	props: { },

	data: function() {
		return {
			backendUrl: '',
			defaultPreviewOpen: false,
		}
	},
}

</script>
