<template>
	<embed v-if="url" :src="url" type="application/pdf" width="100%" height="100%" overflow="hidden">
	<v-container v-else fill-height fluid>
		<v-row align="center" justify="center">
			<v-col cols=8 align="center" justify="center">
				<span v-if="stub" class="text-subtitle-1">
					Document <strong>{{stub.title}}</strong> has no attached file.
				</span>
				<span v-else class="text-subtitle-1">
					Select document on the left to preview.
				</span>
			</v-col>
		</v-row>
	</v-container>
</template>

<script>

// import { bus } from '../main'

import {Papers} from '../api/Papers';

export default {
	name: 'Viewer',

	components: { },

	data: function() {
		return {
			url: null,
			stub: null
		}
	},

	methods: { 
	},

	watch: {
		preview(paper) {
			console.debug('preview', paper);

			if (paper.filesize > 0) {
				this.url = Papers.getFilePath(paper.paper_id);
				this.stub = null;
				return;
			}

			this.url = null;
			this.stub = paper;
		}
	},

	created: function() { },

	computed: {
		preview: function() {
			return this.$store.state.viewer.paper;
		}
	},

};
</script>

