<template>
	<v-app> 
		<template v-if="$store.state.viewer.opened">
			<Split style="bottom:0; top:0; position: absolute">
				<SplitArea :size="30">
					<router-view />
				</SplitArea>
				<SplitArea :size="70" class="pb-2" >
					<Viewer></Viewer>
				</SplitArea>
			</Split>
		</template>
		<template v-else>
			<router-view />
		</template>

		<Alert/>
	</v-app>
</template>

<script>

import Alert from './components/Alert';
import Viewer from './components/Viewer';

export default {
	name: 'App',

	components: {
		Alert,
		Viewer
	},

	data: function() {
		return { }
	},

	methods: {

	},

	created: function() {

	},

	watch: {
		$route: {
			immediate: true,
			handler(to) {
				document.title = to.meta.title || 'Trash';
			}
		},
	}
};
</script>
